<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>66183845383-83f28lbukqko7rgk17u7cf9od8l9805q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.66183845383-83f28lbukqko7rgk17u7cf9od8l9805q</string>
	<key>API_KEY</key>
	<string>AIzaSyCSE6eQgcUlb9aS76leJaW-WulZeDY-WUw</string>
	<key>GCM_SENDER_ID</key>
	<string>66183845383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AnweshaDutta.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-a9625</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-a9625.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66183845383:ios:60ac2c4fb000c0641dfca2</string>
</dict>
</plist>